body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	flex-direction: column;
}

.container {
	width: 20vw;
	border-radius: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 20px;
	background: #ffffff;
	position: relative;
	transition: background 0.5s ease, box-shadow 0.5s ease;
}

.clear-bg {
	background: linear-gradient(to bottom, #82c4da, #ffffff);
}

.cloudy-bg {
	background: linear-gradient(to bottom, #b0c4de, #ece9e6);
}

.overcast-bg {
	background: linear-gradient(to bottom, #778899, #dcdcdc);
}

.rainy-bg {
	background: linear-gradient(to bottom, #87ceeb, #d1e3f2);
}

.snowy-bg {
	background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.cityInput {
	flex-grow: 1;
	border: none;
	width: 15vw;
	border-radius: 20px;
	padding: 10px 15px;
	font-size: 16px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	outline: none;
}

.search-icon {
	margin-left: 10px;
	cursor: pointer;
}

.weather-img img {
	width: 100px;
	margin-bottom: 10px;
}

.weather-temp {
	font-size: 48px;
	font-weight: bold;
	margin: 10px 0;
}

.weather-location {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.data-container {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}

.element {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.icon {
	width: 35px;
	margin-bottom: 5px;
}

.label {
	font-size: 12px;
	color: #666;
}

.loading {
	font-size: 16px;
	color: #666;
}

.error {
	font-size: 14px;
	color: red;
	margin: 10px 0;
}
.both-buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5vh;
	gap: 1vw;
}

.store-data-button,
.view-stored-data-button,
.reset-data-button,
.back-to-search-button {
	border-radius: 10px;
	height: 4vh;
	width: 5vw;
	border: 1px black solid;
	transition: 0.3s;
	background: linear-gradient(to bottom, #87ceeb);
	font-weight: 550;
}
.store-data-button:hover,
.view-stored-data-button:hover,
.reset-data-button:hover,
.back-to-search-button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.home-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 24px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.home-icon:hover {
	transform: scale(1.2);
}
.stored-item-location {
	font-size: 1.5rem;
	font-weight: 1000;
}
